:root {
    --gradient: linear-gradient(119.53deg, rgba(8, 68, 64, 0.57) 4.89%, rgba(6, 22, 45, 0.57) 96.18%);
}

* {
    font-family: "Poppins", sans-serif;
    font-size: 0.8333vw;
}

html,body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}


/* Hide scrollbar*/
html::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}

html,body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* header start */

header {
    display: flex;
    height: 10.185svh;
    width: auto;
    align-items: center;
    padding: 0vw 1.5625vw;
    border-bottom: 0.0521vw solid #C6C6C6;
}

#logo {
    width: 8.3333vw;
}

.tabs {
    margin-left: auto;
    margin-right: 4.1667vw;
    display: flex;
    height: 100%;
    gap: 1.0417vw;
    align-items: center;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    text-align: center;

}

.tabs > a {
    text-decoration: none;
    color: #424242;
    height: 5.7292vw;
    display: flex;
    align-items: center;
    padding: 0.5208vw 0.2604vw;
    box-sizing: border-box;
    border-bottom: 0.1042vw solid transparent;
}

.tabs > a:hover {
    border-bottom: 0.1042vw solid #EA651B;
}

.cta {
    display: flex;
    gap: 1.3021vw;
}


#phone-cta {
    border: none;
    background-color: white;
    color: #EA651B;
    display: flex;
    align-items: center;
    gap: 0.5208vw;
    padding: 1.0417vw 1.5625vw;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 1.4063vw;
    text-align: left;
}

#phone-cta img, button > img {
    width: 1.0417vw;
}

#phone-cta > span:hover {
    text-decoration: underline;
}

button {
    border: none;
    background: #EA651B;
    color: white;
    padding: 1.0417vw 2.6042vw;
    border-radius: 2.6042vw;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    width: max-content;
}

button:hover {
    background: radial-gradient(73.88% 73.88% at 53.21% -9.36%, #DC4415 0%, #F3894F 51.39%, #E84F0D 100%);
}

#mobile-menu {
    display: none;
}

#myBtn {
    display: none;
}

#menu {
    display: none;
}

/* header end */

/* hero start */


#hero {
    background-image:  linear-gradient(119.53deg, rgba(11, 62, 91, 0.3591) 4.89%, rgba(5, 16, 33, 0.57) 96.18%),
    url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.815svh;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8.3333vw;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;

}

#title {
    background: rgba(51, 73, 93, 1);
    width: 10.9375vw;
    display: flex;
    padding: 1.0417vw;
    gap: 0.8854vw;
}

#title > img {
    width: 2.0833vw;
}

#title > div {
    font-size: 1.0854vw;
    font-weight: 300;
    line-height: 1.0958vw;
    letter-spacing: 0.16em;
}

.text > .heading {
    font-size: 2.9167vw;
    font-weight: 600;
    line-height: 2.9458vw;
}

.text > p {
    font-family: "Roboto", Hebrew;
    font-size: 1.0417vw;
    font-weight: 300;
    line-height: 1.3542vw;
    letter-spacing: 0.0365vw;
    margin: 0;
}

.p {
    width: 33.8542vw;
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;
}

#form {
    background-color:rgba(18, 41, 66, 0.5);
    backdrop-filter: blur(0.8854vw);
    display: flex;
    height: 30.2083vw;
    width: 31.25vw;
    padding: 3.125vw;
    box-sizing: border-box; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.0417vw;
    align-items: center;
}


input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.0521vw solid rgba(255, 255, 255, 0.2);
    width: 25vw;
    font-size: 0.9375vw;
    padding: 0.8854vw 0vw;
    color: white;

}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: transparent;
    cursor: pointer;
    border-left: 0.1042vw solid white;
}

input:focus,textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

/* hero end */

/* para start */

#p-area {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 7.8125vw 13.0208vw;
    gap: 3.125vw;
}

#p-area img {
    max-width: 28.125vw;
}

#para {
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;
}

#para-text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;
}

#para-text > h1 {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
    margin: 0;
    display: flex;
    margin-top: -0.5208vw;
}

#para-text > p {
    font-family: "Open Sans", sans-serif;
    color: rgba(95, 98, 100, 1);
    font-size: 1.0417vw;
    font-weight: 400;
    margin: 0;
}

#para-text > div {
    font-family: "Staatliches", sans-serif;
    font-size: 1.6667vw;
    font-weight: 400;
    line-height: 2.1667vw;
    color: rgba(234, 101, 27, 1);
}

#para > button {
    margin-bottom: -0.5208vw;
}

/* para end */

/* grid start */

#grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5208vw;
    justify-content: center;
    align-items: center;
    padding: 0vw 0.625vw;
}

.grid {
    display: inline-flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    height: 22.5vw;
    align-items: center;
    justify-content: end;
    gap: 2.6042vw;
}

.grid:nth-child(1) {
    background-image: var(--gradient),
    url(images/grid1.png);
}

.grid:nth-child(2) {
    background-image: var(--gradient),
    url(images/grid2.png);
}

.grid:nth-child(3) {
    background-image: var(--gradient),
    url(images/grid3.png);
}

.grid:nth-child(4) {
    background-image: var(--gradient),
    url(images/grid4.png);
}

.grid:nth-child(5) {
    background-image: var(--gradient),
    url(images/grid5.png);
}

.grid:nth-child(6) {
    background-image: var(--gradient),
    url(images/grid6.png);
}

.inner {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.625vw;
    width: 16.9271vw;
}

.inner > div {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
}

.inner > p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.2187vw;
    margin: 0;
}

.grid > button {
    margin-bottom: 2.8646vw;
    width: 8.0729vw;
    padding: 0.7813vw;
}

/* grid end */

/* reviews start */

#reviews {
    margin: 8.8542vw 13.0208vw;
    display: flex;
    flex-direction: column;
}

#endorsement {
    display: flex;
    gap: 2.6042vw;
    align-items: center;
}

#endorsement img {
    max-width: 8.0729vw;
}

#endorsement div {
    font-size: 1.7708vw;
    font-weight: 600;
    line-height: 2.1427vw;
    color: rgba(38, 40, 41, 1);
    flex: 1;
}

#endorsement span {
    font-family: "Open Sans", sans-serif;
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
    flex: 1;
}

#box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.0417vw;
    margin: 5.2083vw 0vw;
}

.box {
    display: grid;
    flex-direction: column;
    gap: 1.0417vw;
    width: 17.7083vw;
    height: 21.3542vw;
    box-sizing: border-box;
    padding: 2.0833vw 1.3021vw;
    box-shadow: 0.8333vw 1.0417vw 2.3438vw 0vw rgba(2, 2, 2, 0.05);
}

.box * {
    font-family: "Lato", sans-serif;
}

.box > div:nth-of-type(1) {
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
    color: rgba(95, 98, 100, 1);
}

.username {
    display: flex;
    gap: 1.875vw;
    padding-bottom: 0.2604vw;
}

.username > * {
    font-size: 0.9375vw;
    font-weight: 700;
    line-height: 1.2187vw;
    color: rgba(95, 98, 100, 1);
}

.username > div:nth-child(2) {
    font-weight: 400;
}

.verification {
    display: flex;
    gap: 0.5208vw;
    align-items: center;
    font-size: 0.9375vw;
}

.verification img {
    max-width: 1.8229vw;
}

/* reviews end */

/* offer starts */


#offer {
    margin: 7.8125vw 13.0208vw;
    display: flex;
    flex-direction: column;
    gap: 2.0833vw;
}

#banner {
    background-color: #EA651B;
    padding: 2.6042vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#banner > div:first-child {
    padding-left: 1.8229vw;
    font-size: 4.7396vw;
    font-style: italic;
    font-weight: 700;
    line-height: 6.1615vw;
    flex: 1;
}

#banner > div:last-child {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1458vw;
    font-weight: 400;
    line-height: 1.4896vw;
    flex: 1;
    padding-right: 4.4271vw;
}

#forms {
    display: flex;
    gap: 2.6042vw;
}

.form-container {
    background: #F2F1F1;
    flex: 1;
}

.form-container > div {
    font-size: 1.875vw;
    font-weight: 600;
    color: #262829;
    line-height: 2.2688vw;
    padding: 2.6042vw 0vw 0vw 2.6042vw;
}

.form-container form {
    display: flex;
    padding: 1.5625vw 3.125vw 2.6042vw 3.125vw;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    gap: 2.0833vw;
}

.form-container input {
    background: #FFFFFF;
    color: #5F6264;
    padding-left: 1.3021vw;
    width: 50%;
    display: inline;
}

.form-container input::placeholder {
    opacity: 1;
    color: #5F6264;
}

.form-container input:hover::placeholder {
    color: transparent;
    cursor: pointer;
    border-left: 0.0885vw solid #5F6264;
}

.form-container > form > input:nth-of-type(1) {
    width: 96%;
}

fieldset {
    display: flex;
    gap: 1.0417vw;
    border: none;
    justify-content: stretch;
    padding: 0;
}

.form-container button {
    align-self: end;
    margin-top: 4.1667vw;
}

/* offer end */

/* banner start */

#lower-banner {
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 41.0417vw;
    display: flex;
    align-items: center;
    gap: 7.8125vw;
    padding: 0vw 13.0208vw;
}

#banner-left {
    display: grid;
    gap: 2.8646vw;
    box-sizing: border-box;
    padding-right: 5.2083vw;
}

#banner-left .text {
    display: grid;
    gap: 0.8854vw;
    overflow-wrap: break-word;
}

#banner-left .text div {
    font-size: 2.3438vw;
    font-weight: 600;
    line-height: 3.0469vw;
    color: rgba(214, 214, 214, 1);
}

#banner-left .text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.0417vw;
    line-height: 1.3542vw;
    color: rgba(255, 255, 255, 0.8);
}

#banner-right {
    display: grid;
    grid-template-columns: 9.375vw 9.375vw 9.375vw;
    gap: 2.8646vw 3.9063vw;
}

.b-container {
    display: grid;
    gap: 1.8229vw;
}

#banner-right img {
    max-width: 3.6458vw;
}

#banner-right span {
    font-size: 1.1458vw;
    line-height: 1.4896vw;
    color: rgba(185, 185, 185, 1);
    word-spacing: 100vw;
}

/* banner end */

/* footer start */

footer {
    background: rgba(21, 21, 21, 1);
}

#footing {
    padding: 5.2083vw;
    display: flex;
    justify-content: space-between;
}

#copyright {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;
}

#copyright {
    width: 8.3333vw;
}

#copyright span {
    line-height: 1.25vw;
    color: rgba(255, 255, 255, 0.5);
    width: 14.3229vw;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 2.0833vw;
}

#info div {
    font-size: 1.0417vw;
    font-weight: 500;
    line-height: 1.5625vw;
    color: rgba(252, 252, 252, 1);
}

#info button {
    display: flex;
    align-items: center;
    gap: 0.5208vw;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 1.4063vw;
    padding: 1.0417vw 1.5625vw;
}

#info span {
    display: grid;
    gap: 1.0417vw;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
}

span a {
    color: rgba(255, 255, 255, 0.6);
}

#nav {
    font-size: 1.0417vw;
    font-weight: 500;
    line-height: 1.5625vw;
    color: rgba(252, 252, 252, 1);
    display: grid;
    gap: 2.0833vw;
}
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 1.0417vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9375vw;
    line-height: 1.4063vw;
}

li > a:hover {
    text-decoration: underline;
}

#links {
    display: grid;
    align-content: space-between;
    justify-items: center;
    padding-left: 13.0208vw;
    border-left: 0.0521vw solid rgba(37, 37, 37, 1);
    width: 1.5625vw;
}

/* footer end */

@media only screen and (max-width: 640px) {
    * {
        font-size: 1.5vh;
    }

    header {
        height: 8svh;
    }

    #logo {
        transform-origin: left;
        transform: scale(4);
    }
    .tabs {
        width: auto;
        gap: 2vw;
        display: none;
    }

    .tabs > a {
        height: 100%;
    }

    #hero {
        height: 92svh;
        flex-direction: column;
        gap: 30vw;
    }

    .cta {
        gap: 4vw;
        margin-left: auto;
        margin-right: 4vw;
    }

    #phone-cta > img {
        width: 2vw;
    }
    button {
        transform: scale(1.5);
        font-size: 1.3vw;
    }


    .p {
        transform: scale(2.5);
    }

    .text p {
        font-size: 1.25vw;
    }

    #form {
        transform-origin: top;
        transform: scale(2);
    }
    #p-area {
        flex-direction: column;
        align-items: center;
        transform-origin: top;
        transform: scale(2);
        margin: 20vw 32vw 100vw 32vw;
        padding: 0 0;
    }

    #para h1 {
        font-size: 3vw;
    }

    #para p {
        font-size: 1.3vw;
    }

    #p-area button {
        transform: scale(1.1);
    }

    #grids {
        grid-template-columns: 100vw;
        grid-template-rows: repeat(6, 69vw);
        aspect-ratio: 1;
        align-items: stretch;
    }
    
    .grid {
        height: auto;
        justify-content: center;
    }

    .grid > * {
        transform: scale(3);
    }

    .grid button {
        margin-top: 8vw;
    }

    .grid:nth-child(4) {
        gap: 6vw;
    }

    #endorsement {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 15vw;
    }

    #endorsement div {
        font-size: 3vw;
        line-height: 2.6vw;
    }

    #endorsement span {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }

    #endorsement img {
        transform: scale(2.5);
    }

    #box-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .box {
        width: auto;
        aspect-ratio: 1;
        height: 60vw;
    }

    .box > div:nth-of-type(1) {
        font-size: 3vw;
        line-height: 3vw;
    }

    .verification {
        margin-top: 2vw;
    }
    .verification img {

        max-width: 5vw;
    }

    .username > * {
        font-size: 3vw;
    }

    

    #offer {
        display: grid;
        grid-template-rows: 1fr 6fr;
        height: 80svh;
    }

    #banner > div:first-child { 
        font-size: 6vw;
    }

    #banner >div:last-child {
        padding: 0;
        font-size: 2.5vw;
        line-height: 2.8vw;
    }

    #forms {
        flex-direction: column;
    }

    #forms:first-child {
        width: 97%;
    }

    .form-container{
    }

    .form-container > div {
        margin-top: 2vw;
        font-size: 5vw;
    }

    .form-container input {
        margin-top: 4vw;
        font-size: 4.8vw;
    }

    .form-container button {
        transform-origin: right;
        transform: scale(2);
    }

    #lower-banner {
        flex-direction: column;
        height: 80vh;
        justify-content: center;
    } 

    #banner-left {
        margin-top: -10vw;
    }

    #banner-left .text div {
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #banner-left .text p {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    #banner-left button {
        transform-origin: left;
    }

    #banner-right {
        transform-origin: top;
        transform: scale(1.8);
    }
    
    #footing {
        flex-direction: column;
        align-items: center;
    }

    #copyright {
        flex-direction: row;
        justify-content: center;
        width: auto;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }
    #copyright span {
        line-height: 1.3;
        color: rgba(255, 255, 255, 0.5);
        width: auto;
    }



    #links {
        border: none;
        display: flex;
        gap: 5vw;
        justify-content: center;
        width: auto;
        padding: 0;
    }

    #nav {
        display: none;
    }

    #info {
        margin-bottom: 3vw;
    }

    #info span {
        display: flex;
        gap: 25vw;
    }

    #info div, #info button {
        display: none;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
    }

    #mobile-menu {
        margin: 0 1vw;
        padding: 0;
        background-color: transparent;
        display: inline;
}

    #mobile-menu img {
        width: 1.5vw;
    }

    #mobile-menu:hover {
        background: none;
    }

    #menu {
        display: none;
        flex-direction: column;
        gap: 1vw;
        position: absolute;
        right: 2vw;
        top: 8vw;
        background: #424242;
        padding: 1vw;
    }
    #menu > a {
        text-decoration: none;
        color: #C6C6C6;
        border-bottom: 1px solid #424242;
    }
    

    div#form  button[type='submit'] {
        transform: scale(.9);
    }
}

