:root {
    --gradient: linear-gradient(119.53deg, rgba(8, 68, 64, 0.57) 4.89%, rgba(6, 22, 45, 0.57) 96.18%);
}

* {
    font-family: "Poppins", sans-serif;
    font-size: 0.938vw;
}

html,body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}


/* Hide scrollbar*/
html::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}

html,body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* header start */

header {
    display: flex;
    height: 11svh;
    width: auto;
    align-items: center;
    padding: 0vw 1.5625vw;
}


.tabs {
    margin-left: auto;
    margin-right: 4.1667vw;
    display: flex;
    height: 100%;
    gap: 1.042vw;
    align-items: center;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    text-align: center;

}

.tabs > a {
    text-decoration: none;
    color: #424242;
    height: 11svh;
    display: flex;
    align-items: center;
    padding: 0.5208vw 0.2604vw;
    box-sizing: border-box;
    border-bottom: 0.1042vw solid transparent;
}

.tabs > a:hover {
    border-bottom: 0.1042vw solid #E3701E;
}

.cta {
    display: flex;
    gap: 1.3021vw;
}


#phone-cta {
    border: none;
    background-color: white;
    color: #E3701E  ;
    display: flex;
    align-items: center;
    gap: 0.5208vw;
    padding: 1.0417vw 1.5625vw;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 1.4063vw;
    text-align: left;
}

#phone-cta img, button > img {
    width: 1.0417vw;
}

#phone-cta > span:hover {
    text-decoration: underline;
}

button {
    border: none;
    background: #E3701E;
    color: white;
    padding: 1.0417vw 2.6042vw;
    border-radius: 2.6042vw;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    width: max-content;
}

button:hover {
    background: linear-gradient(277.56deg, #CD6A23 5.38%, #F18336 98.2%);
}

#mobile-menu {
    display: none;
}

#myBtn {
    display: none;
}

#menu {
    display: none;
}

/* header end */

/* hero start */


#hero {
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: calc(89svh - 1.389svh);
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8.3333vw;
    align-items: center;
    margin: 0 0.7813vw;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


.text > .heading {
    font-weight: 600;
    font-size: 7vw;
    line-height: 6.5vw;
}

.text > p {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3542vw;
    font-size: 3vw;
    line-height: normal;
    letter-spacing: 0.0365vw;
    margin: 0;
}
.p {
    display: flex;
    flex-direction: column;
    gap: 5.6042vw;
    padding-left: 14.0625vw;
}

.p button {
    transform-origin: left;
    padding: 1.27vw 3.173vw;
    gap: 0.6344vw;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: normal;
}

/* hero end */

/* para start */

#p-area {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 7.8125vw 13.0208vw;
    gap: 2.6042vw;
    height: 100svh;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

#p-area img {
    max-width: 28.125vw;
    border-radius: 0.7813vw;
}

#para {
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;
    justify-content: center;
}

#para-text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;
}

#para-text img {
    width: fit-content;
}

#para-text span {
    display: flex;
    align-items: center;
    font-size: 1.0417vw;
    font-weight: 300;
    line-height: 1.3542vw;
    letter-spacing: 0.36em;
    gap: 0.8854vw;
}

#para-text > h1 {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
    margin: 0;
    display: flex;
    margin-top: -0.5208vw;
}

#para-text > p {
    font-family: "Open Sans", sans-serif;
    color: rgba(95, 98, 100, 1);
    font-size: 1.0417vw;
    font-weight: 400;
    margin: 0;
}

#para-text > div {
    font-family: "Staatliches", sans-serif;
    font-size: 1.6667vw;
    font-weight: 400;
    line-height: 2.1667vw;
    color: rgba(234, 101, 27, 1);
}

#para > button {
    margin-bottom: -0.5208vw;
}

/* para end */

/* grid start */

#grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #ECEEF0;
    gap: 1.3021vw;
    justify-content: center;
    align-items: center;
    padding: 6vw;}

.grid {
    background: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 2.6042vw;
    padding: 2.0833vw .5vw 2.0833vw 2.0833vw;
    box-sizing: border-box;
    border-radius: 0.7813vw;
    box-shadow: -0.1563vw 1.7708vw 5.2083vw 0 #00000026;
}




.grid > div:first-child {
    border-bottom: 0.0521vw solid #E0D9D9;
    height: 3vw;
    font-size: 1.3021vw;
    font-weight: 600;
    line-height: 1.9531vw;
    margin-right: 2vw;
}

.grid ul {
    display: grid;
    gap: 0.2604vw;
    list-style-type: none;
    padding: 0;
    overflow: hidden; 
    overflow-y: scroll;
    height: 23.4375vw;
}

ul::-webkit-scrollbar {
    width: 0.2083vw;
}

ul::-webkit-scrollbar-track {
    background: transparent;
}

ul::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 0.1563vw;
    border: 0.1563vw solid transparent;
    min-height: 0.2083vw;
}

ul::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement { 
    display: none; 
}


.grid li {
    display: flex;
    justify-content: space-between;
    padding: 0.4167vw 1.5625vw 0.4167vw 0;
    border-bottom: 0.0521vw solid #D3D3D3;
    gap: 0.5208vw;
    margin-right: 1.0417vw;
}

.grid li:hover {
    border-bottom: 0.0521vw solid #ABABAB;
    box-shadow: 0.0521vw 0.5208vw 1.5625vw 0 #00000026;
}

li > span:first-child {
    border-left: 0.1302vw solid #E3701E;
    padding-left: 1.3021vw;
}

.grid button:hover {
    -webkit-backface-visibility: hidden;
    transition: 200ms;
    box-shadow: 0px -5px 0px 0px #9E4C12 inset;
    background: linear-gradient(277.56deg, #CD6A23 5.38%, #F18336 98.2%);
}


/* grid end */

/* reviews start */




.p-section {
    display: flex;
    padding: 5.7292vw 13.0208vw;
    gap: 2.6042vw;
    align-items: center;
}

.p-section .para {
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;

}

.p-section .text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;
}

.p-section .heading {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
    color: #262829;
}

.p-section p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
    color: #5F6264;
}

.p-section:last-child {
    flex-direction: row-reverse;
    background: #ECEEF0;
}

.p-section span {
    font-size: 1.0417vw;
    font-weight: 300;
    line-height: 1.3542vw;
    letter-spacing: 0.36em;
}


/* reviews end */

/* offer starts */

#faq-section {
    margin: 5vw 9.375vw;
    display: grid;
    gap: 2.6042vw;
}

#faq-section .heading {
    font-size: 2.6042vw;
    font-weight: 600;
    line-height: 3.3854vw;
    color: #262829;
    justify-self: center;
}

#faqs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


details article {
    opacity: 0;
}

details[open] article {
    animation: fadeIn .75s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.0833vw 30px;
    font-size: 1.3021vw;
    font-weight: 600;
    line-height: 1.5625vw;
}

summary::after {
    content: '';
    width: 2.5vw;
    height: 2.5vw;
    background: url('images/plus.svg') no-repeat;
    background-size: contain;
    transition: 0.4s;
}

summary:hover::after {
    background: url('images/plus-hover.svg') no-repeat;
    background-size: contain;

}

details[open] > summary {
    padding: 2.0833vw 1.5625vw 1.0417vw 1.5625vw;
}

details[open] > summary::after {
    background: url('images/minus.svg') no-repeat;
    background-size: contain;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    color: #30353b;
    border-radius: 0.2604vw;
}

details[open] summary {
    border-radius: 0.2604vw 0.2604vw 0 0;
}

details {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: -0.1563vw 1.7708vw 5.2083vw 0vw #0000001A;
}

article {
    padding: 0 0 2.0833vw 1.5625vw;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
}


#faq-section button {
    justify-self: center;
    margin-top: 1.0417vw;
}


/* offer end */


footer {
    background: rgba(21, 21, 21, 1);
}

#footing {
    padding: 5.2083vw;
    display: flex;
    gap: 9.375vw;
    align-items: center;
}

#info {
    background: #1C1E1F;
    border-radius: 0.7813vw;
    display: flex;
    flex-direction: column;
    gap: 2.7604vw;
    padding: 1.5625vw;
    width: 37vw;
    box-sizing: border-box;
}


#info span {
    gap: 0.5208vw;
    display: grid;
}

#info span p:first-child {
    color: #818B90;
    font-size: 1.1458vw;
    font-weight: 600;
    line-height: 1.7188vw;
}

#info span p:last-child {
    color: #818B90;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.0417vw;
    line-height: 1.3542vw;

}

#info div:last-child {
    display: flex;
    gap: 0.8333vw;
}

#info button {
    display: flex;
    align-items: center;
    gap: 0.5208vw;
    padding: 1.0417vw 1.5625vw;
}

#info button:last-of-type {
    border: 1.5px solid #E3701E;
    background-color: rgba(21, 21, 21, 1);
    color: #E3701E;
}

#info button:hover {
    box-shadow: 0px -5px 0px 0px #9E4C12 inset;
    background: linear-gradient(277.56deg, #CD6A23 5.38%, #F18336 98.2%);
    -webkit-backface-visibility: hidden;
    transition: 200ms;
}


#info button:last-of-type:hover a {
    color: white;
}

#info button:last-of-type:hover img {
    filter: brightness(0) invert(1);
}

button a {
    color: #E3701E;
}


#nav {
    font-size: 1.0417vw;
    font-weight: 500;
    line-height: 1.5625vw;
    color: #fcfcfc;
    display: grid;
    gap: 2vw;
}
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 1vw;
}

li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}

li > a:hover {
    text-decoration: underline;
    color: #E3701E;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 2.0833vw;
}

#company {
    display: flex;
    flex-direction: column;
    gap: 3.125vw;
}

#address {
    display: flex;
    color: #818B90;
    align-items: start;
    gap: 0.5208vw;
    font-size: 0.9375vw;
    line-height: 1.4063vw;
}

#address p:first-of-type {
    font-weight: 600;
}


#links {
    display: flex;
    gap: 2.6042vw;
}

#copyright {
    font-size: 0.8333vw;
    line-height: 1.25vw;
    color: #FFFFFF80;
}

/* footer end */

@media only screen and (max-width: 640px) {
    * {
        font-size: 1.5vh;
    }


    #logo {
        transform-origin: left;
        transform: scale(.8);
    }
    .tabs {
        width: auto;
        gap: 2vw;
        display: none;
    }

    .tabs > a {
        height: 100%;
    }

    header {
        max-height: 8svh;
    }

    #hero {
        height: calc(93svh - 1.389svh);
        justify-content: center;
        gap: 30vw;
        background-position: -180.875vw;
        }

    .cta {
        gap: 4vw;
        margin-left: auto;
        margin-right: 4vw;
    }

    #phone-cta > img {
        width: 2vw;
    }
    button {
        transform: scale(1.5);
        font-size: 1.3vw;
    }


    #p-area {
        flex-direction: column;
        align-items: center;
        padding: 7vw;
        gap: 5vw;
        height: auto;
    }


    .p {
        background-color:rgba(18, 41, 66, 0.5);
        backdrop-filter: blur(0.8854vw);
        padding: 5vw;
        border-radius: 3.125vw;
    }

    p button {
        transform-origin: left;
    }

    #para p {
        font-size: 3vw;
    }

    #p-area button {
        transform: scale(1.7);
        transform-origin: left;
        margin-top: 2vw;
    }

    #p-area img { 
        max-width: -webkit-fill-available;
    }

    #para-text img:first-child {
        width: 30vw;
    }

    #para-text img:last-child {
        width: 6vw;
    }

    #para-text h1 {
        font-size: 5vw;
    }

    #para-text span {
        font-size: 3vw;
    }

    #para-text {
        gap: 3vw;
    }


    .grid button {
        font-size: 1.7vw;
        transform-origin: left;
        margin-bottom: 2.5vw;
    }

    #grids {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        transform-origin: top;
        gap: 3vw;
    }

    .grid {
        width: 75vw;
    }

    .grid ul {
        height: 58vw;
    }

    .grid > div:first-child {
        padding: 4vw 0vw 4vw 0vw;
        margin-right: 7vw;
        font-size: 5vw;
    }

    ul::-webkit-scrollbar {
        width: 1vw;
    }

    

    .p-section, .p-section:last-child {
        flex-direction: column;
    }

    .p-section button {
        margin-top: 3vw;
        transform: scale(2);
        transform-origin: left;
    }

    .p-section .heading {
        font-size: 5.5vw;
    }

    .p-section span {
        font-size: 3.5vw;
        letter-spacing: .2em;
    }

    .p-section p {
        font-size: 3vw;
        line-height: 4vw;
    }

    .p-section {
        gap: 4vw;
    }

    .p-section .text {
        gap: 2vw;
    }

    .p-section span {
        line-height: 4vw;
    }

    #faq-section {
        gap: 8vw;
    }
    #faqs {
        gap: 7vw;
    }

    #faq-section .heading {
        font-size: 7vw;
        line-height: 6.5vw;
    }

    summary {
        font-size: 4vw;
        line-height: 3.75vw;
        padding: 0;
        min-height: 10vw;
        }

    summary::after {
        content: '';
        width: 0; 
        height: 0; 
        border-top: 10px solid #15171b;
        border-inline: 7px solid transparent;
        transition: 0.2s;
    }

    details {
        padding: 3vw 8vw;
    }

    details[open] {
        padding: 2vw 6vw;
    }

    article {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    #faq-section button {
        transform: scale(2);
    }


    details[open] > summary::after {
        transform: rotate(90deg);
    }

    #footing {
        flex-direction: column;

    }

    #info {
        width: auto;
        padding: 4vw;
    }

    #info span p:first-child {
        font-size: 6vw;
        line-height: normal;
    }

    #info span p:last-child {
        font-size: 4vw;
        line-height: normal;
    }

    #info button {
        transform: scale(1);
        font-size: 3vw;
        padding: 10px 20px;
    }

    #info button img {
        width: 3vw;
    }

    #nav {
        display: none;
    }

    #address {
        line-height: normal;
        transform: scale(1.2);
    }

    #links {
        justify-content: space-between;
        margin: 5vw 0;
    }



    #copyright {
        font-size: 3.5vw;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
    }

    #mobile-menu {
        margin: 0 1vw;
        padding: 0;
        background-color: transparent;
        display: inline;
}

    #mobile-menu img {
        width: 1.5vw;
    }

    #mobile-menu:hover {
        background: none;
    }

    #menu {
        display: none;
        flex-direction: column;
        gap: 1vw;
        position: absolute;
        right: 2vw;
        top: 8vw;
        background: #424242;
        padding: 3vw;
    }
    #menu > a {
        text-decoration: none;
        color: #C6C6C6;
        border-bottom: 1px solid #424242;
    }
    

}

